.body{
    background-color: blue;
}
.nav{
    background-color: black;
    height: 50px;
    width: auto;
    border-radius: 10px;
}
.search{
    margin-top: 10px;
    margin-left: 30px;
    height: 25px;
}
.main{
    height: 680px;
    width: 1100px;
    background-color: lightblue;
    margin-top: 30px;
}